In [ ]:
import pandas as pd

# tidy dataset I

# Load and tidy
data_table = pd.read_csv('../data/raw/child-motality.csv')
# Use pd.melt(), pd.pivot_table(), or custom code
tidy_data_table = data_table.melt(id_vars=['geo', 'name'], var_name='year', value_name='mortality_rate')

In [ ]:
print(tidy_data_table.head())

   geo         name  year  mortality_rate
0  afg  Afghanistan  1800          468.58
1  ago       Angola  1800          485.68
2  alb      Albania  1800          375.20
3  and      Andorra  1800             NaN
4  are          UAE  1800          434.46

In [19]:
#clean dataset II

# Load and tidy
data_gpd_table = pd.read_csv('../data/raw/gdp-data.csv')
# Use pd.melt(), pd.pivot_table(), or custom code
tidy_gpd_data_table = data_gpd_table.melt(id_vars=['geo', 'name'], var_name='year', value_name='gdp_capita')

In [20]:
print(tidy_gpd_data_table.head())

   geo         name  year  gdp_capita
0  afg  Afghanistan  1800   560.88817
1  ago       Angola  1800   435.23259
2  alb      Albania  1800   547.53369
3  and      Andorra  1800  1598.53128
4  are          UAE  1800  1332.77712

In [28]:
#merge 2 datasets
merged_data_table = pd.merge(tidy_data_table, tidy_gpd_data_table, on=['geo','name','year'], how='inner')

In [29]:
print(merged_data_table.head())

   geo         name  year  mortality_rate  gdp_capita
0  afg  Afghanistan  1800          468.58   560.88817
1  ago       Angola  1800          485.68   435.23259
2  alb      Albania  1800          375.20   547.53369
3  and      Andorra  1800             NaN  1598.53128
4  are          UAE  1800          434.46  1332.77712